@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #333;
  background-color: #0f172a;
  line-height: 1.6;
  font-size: 16px;
}

#container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

body#resume-page #container {
  width: 900px;
  max-width: none;
}

header {
  margin-bottom: 30px;
}

#main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: #1e293b;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 12px 0;
}

#main-nav a {
  text-decoration: none;
  color: #38bdf8;
  font-weight: 600;
}

#main-nav a:hover {
  color: #0ea5e9;
}

h1, h2, h3 {
  color: #e2e8f0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 15px;
  color: #cbd5e1;
}

ul {
  margin: 10px 0 20px 30px;
}

li {
  margin-bottom: 5px;
  color: #cbd5e1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 15px auto;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0ea5e9;
}

@media (min-width: 600px) {
  #home-page {
    background-color: #14213d;
  } 
  
  #home-page #container {
    padding: 30px;
  }

  #home-page #main-nav ul {
    background-color: #24304d; 
    gap: 3rem;
    padding: 16px 0;
  }

  #home-page h2 {
    color: #60a5fa;
    font-size: 1.7em;
  }
}

@media (min-width: 900px) {
  #home-page {
    background-color: #0d1b2a;
    font-size: 18px;;
  } 

  #home-page h1 {
    color: #4cc9f8;
  }
  
  #home-page body {
    font-size: 18px;
  }

  #home-page #main-nav ul {
    background-color: #1b263b;
    padding: 18px 0;
    border-radius: 6px;
  }
}

#map {
  height: 600px;
  width: 100%;
}

#controls button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#questions-button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}